@media (max-width:1030px) {
    .progress__slider-content {
        display: block;
    }
    .progress__one,
    .progress__two,
    .progress__three {
        margin: 0 auto 30px;
        padding: 0;
        text-align: center;
        max-width: 1000px;
        width: 80%;
    }
    .progress__slider-bottom {
        padding: 0 !important;
        border: none !important;
    }
    .progress__slider-top {
        justify-content: center;
    }
}
@media (max-width:1000px){
    .banner__inner {
        display: block;
        text-align: center;
    }
    .banner__about {
        margin: 0 auto 50px;
    }
    .banner__title {
        margin-top: 90px;
        margin-bottom: 40px;
    }
    .banner__text {
        margin-bottom: 40px;
    }
   
}
@media (max-width:800px) {
    .header__inner {
        display: block;
        text-align: center;
    }
    .header__logo-inner {
        margin-bottom: 40px;
    }
    .progress__title {
        padding: 58px 0;
        margin: 0 auto 40px;
        text-align: center;
    }
    .progress__title:before {
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .progress__title:after {
        top: auto;
        right: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
}
@media (max-width:600px) {
    .header__logo-inner {
        margin-bottom: 0px;
    }
    .header__inner {
        display: flex;
        align-items: flex-end;
    }
    .header__menu ul {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        margin-top: 36px;
        background-color: #eaeaea;
    }
    .header__btn-menu {
        display: block;
        width: 50px;
        height: 40px;
        position: relative;
    }
    .header__btn-menu span,
    .header__btn-menu span:after,
    .header__btn-menu span:before {
        position: absolute;
        width: 40px;
        height: 5px;
        background-color: #494949;
        top: 50%;
        left:50%;
        transform: translate(-50%, -50%);
        border-radius: 2px;
        display: block;
    }
    .header__btn-menu span:after {
        content: '';
        top: auto;
        bottom: 14px;
        transform: translateX(-50%);
        transition: 0.2s;
    }
    .header__btn-menu span:before {
        content: '';
        top: 14px;
        transform: translateX(-50%);
        transition: 0.2s;
    }
    .header__menu li,
    .progress__menu li {
        display: block;
        margin-bottom: 30px;
    }
    .header__menu li:after,
    .progress__menu li:after {
        display: none;
    }
    .header__menu li + li,
    .progress__menu li + li {
        padding-left: 0;
    }
    .header__menu a {
        font-size: 26px;
    }
    .header__btn-active span:after{
        transform: translateX(-50%) rotate(35deg);
        bottom: 0;
    }
    .header__btn-active span:before {
        transform: translateX(-50%) rotate(-35deg);
        top: 0;
    }
    .header__btn-active span {
        width: 0;
    }
    .progress__menu {
        text-align: center;
    }
}
@media (max-width:500px) {
    .progress__btn {
        font-size: 22px;   
    }
}
@media (max-width:460px) {
    .banner__text {
        font-size: 22px;
    }
    .progress__slider {
        padding: 53px 10px 58px;
    }
    .footer__copy {
        font-size: 18px;   
    }
}
@media (max-width:400px) {
     .progress__btn {
        font-size: 18px;   
    }
}
@media (max-width:380px) {
    .progress__title {
        font-size: 42px;
    }
    .progress__slider-title {
        font-size: 36px;
    }
    .progress__btn {
        font-size: 14px;   
    }
    .footer__copy {
        font-size: 14px;   
    }
}
@media (min-width:600px) {
    .header__menu ul {
        display: block !important;
    }
}