* {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    display: inline-block;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #282828;
    background-color: #eaeaea;
}
ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.header {
    padding: 35px 0 36px;
}
.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__menu li,
.progress__menu li {
    display: inline-block;
    position: relative;
}
.header__menu li + li,
.progress__menu li + li {
    padding-left: 44px;
}
.header__menu a,
.progress__menu a {
    font-family: 'Montserrat', sans-serif;
    color: #494949;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}
.header__menu li:after,
.progress__menu li:after{
    content: "|";
    position: absolute;
    left: 20px;
}
.header__menu li:first-child:after,
.progress__menu li:first-child:after {
    display: none;
}
.header__logo-image {
    font-family: 'Montserrat', sans-serif;
    color: #ea2229;
    font-size: 73px;
    font-weight: 900;
}
.banner {
    background-image: url("../img/banner-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 49px 0 135px;
}
.banner__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner__about {
    max-width: 600px;
    width: 100%;
    color: #ffffff;
    
}
.banner__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 1.3px;
    margin-bottom: 10px;
}
.banner__text {
    line-height: 30px;
    font-size: 25px;
    margin-bottom: 23px;
}
.banner__btn {
    border: 1px solid #ffffff;
    padding: 14px 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #ffffff;
    width: 190px;
    height: 50px;
}
.banner__image img {
    max-width: 559px;
    width: 100%;
}
.progress {
    padding: 113px 0 98px;
}
.progress__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 47px;
    padding: 0 120px;
    position: relative;
    margin: 0 auto 7px;
    max-width: 783px;
    width: 100%;
}
.progress__title:after {
    content: "";
    background-image: url("../img/progress-shape.png");
    position: absolute;
    width: 102px;
    height: 28px;
    top: 12px;
    right: 25px;
}
.progress__title:before {
    content: "";
    background-image: url("../img/progress-shape.png");
    position: absolute;
    width: 102px;
    height: 28px;
    top: 12px;
    left: 0;
}
.progress__text {
    text-align: center;
    font-size: 20px;
    color: #959595;
    margin-bottom: 40px;
}
.progress__menu {
    max-width: 621px;
    width: 100%;
    margin: 0 auto 43px;
}
.progress__menu a{
    font-size: 18px;
    padding-bottom: 16px;
}
.progress__menu-active {
    position: relative;
    border-bottom: 4px solid #ee252d;
}
.progress__menu-active:before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 7px solid #ee252d;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
}
.progress__slider {
    background-color: #ffffff;
    padding: 53px 56px 58px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11);
    margin-bottom: 70px;
}
.progress__one {
    width: 100%;
    max-width: 318px;
}
.progress__two {
    padding-left: 10px;
    width: 100%;
    max-width: 365px;
}
.progress__three {
    padding-left: 10px;
    width: 100%;
    max-width: 271px;
}
.progress__two img {
    margin-top: 10px;
}
.progress__three {
    max-width: 270px;
}
.progress__three img {
    margin-top: 5px;
    margin-left: 26px;
}
.progress__slider-content {
    display: flex;
    justify-content: space-between;
}
.progress__slider-top {
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.progress__slider-number {
    font-size: 120px;
    font-weight: 900;
}
.progress__slider-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 9px;
}
.progress__slider-text {
    font-size: 18px;
    line-height: 24px;
}
.progress__one .progress__slider-bottom {
    padding-right: 58px;
    border-right: 1px solid #eaeaea;
}
.progress__two .progress__slider-bottom {
    padding-right: 83px;
    border-right: 1px solid #eaeaea;
}
.progress__btn {
    margin: 0 auto;
    max-width: 469px;
    width: 100%;
    text-align: center;
    background-image: url("../img/btn-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    color: #ffffff;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: block;
    padding: 29px 50px;
}
.footer {
    background-image: url("../img/footer-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 43px 0;
}
.footer__copy {
    color: #eaeaea;
    font-size: 20px;
    text-align: center;
}